/* SECOND ET SES MODIF AVEC TRANSI */
.second{
    display: flex;
    justify-content: space-around;
    
    color: rgba(0, 0, 0, 0);

    transition: padding-top .9s, color .9s;
}
.movingSecond{
    padding-top: 150px;
    color: black;

    transition: padding-top .9s, color .9s;
}
.first_last{
    display: flex;
}
.first_last > p {
    text-transform: uppercase;
    
    font-weight: 700;
    font-size: 25px;
    
    padding-top: 100px;
    margin-right: 15px;
}
/* FAIT PARTIE DU SECOND AVEC DIAMONDS */
.diamonds_sec{
    margin-right: 15px;
    margin-top: -12px;

    width: 15px;
    fill: #da5f4c00;

    transition: margin-right .9s, 
                fill .9s;
}
.diamonds_sec_disapear{
    margin-right: 15px;
    margin-bottom: 170px;

    fill: var(--t-color);

    transition: margin-right .9s, 
                fill .9s;
}
.sec_part{
    padding-top: 100px;
    width: 600px;
}
.sec_part .main{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;

    padding-bottom: 35px;
}
.sec_part_sec{
    font-size: 20px;
    padding-bottom: 30px;

    line-height: 25px;
}
.liens_pro{

    width: 80%;
    max-width: 100%;

    font-size: 15px;
    text-transform: uppercase;
    color: var(--t-color);

    display: flex;
    justify-content: space-between;
}
.liens_pro_1,
.liens_pro_2,
.liens_pro_3{
    margin-top: 20px;
    font-weight: 600;

    color:#da5f4c00 ;
}
.movingliens_pro{
    margin-top: 20px;
    font-weight: 600;

    color: var(--t-color);

    transition: margin-top .9s, color .9s;
}

.liens_pro_3 > ul > li > svg{
    margin-left: 10px;
}
.svg_links{
    cursor: pointer;
    fill: rgba(0, 0, 0, 0);

    width: 20px;

    transition: fill .9s, margin-top .9s,
                margin-left .9s; 
}
.svg_links_disapear{
    cursor: pointer;
    fill: rgb(0, 0, 0);

    margin-top: 15px;
    margin-left: 20px;
    width: 20px;

    transition: fill .9s, margin-top .9s
                margin-left .9s;
}
.toRed{
    fill: var(--t-color);

    transition: fill .2s;
}
.toBlack{
    color: black;

    transition: color .2s;
}

